
<div class = "track-upload-container">
  <h4>Upload Track</h4>

  <%= form_for @track, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :artist %>
      <%= f.text_field :artist %>
      <br>
      <%= f.label :track %>
      <%= f.file_field :attachment %>
      <br>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>
