
<script>
  function isMobileDevice() {
    return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
  };
  let GPS_TIME;
  if(isMobileDevice()) {GPS_TIME=true;}
  else {GPS_TIME=false;}
 $("<audio>")
   .on("canplaythrough", function () {
      console.log("canplay event fire for dummy");
      this.pause();
      $(this).prependTo($("body"));
   })
  .attr("src", "https://freesound.org/data/previews/131/131660_2398403-lq.mp3")
  .attr("type", "audio/mpeg")
  .attr("id", "dummy")
  .attr("autoplay","");
  document.addEventListener("DOMContentLoaded", function(event) {
    App.cable.subscriptions.create ({ channel: "SoundGroupChannel",
      id: "<%=current_user.sound_group_id%>"},{
        connected: () => {console.log("connected");},
        disconnected: () =>{App.cable.subscriptions.remove(this);},
        received: ({scheduled_time}) => {
          // let soundPlayer = document.getElementById('sound-player');
          let soundPlayer = document.getElementById('dummy');

          // soundPlayer.muted=false;
          // soundPlayer.currentTime = 0.0;
          // soundPlayer.play();
          console.log(soundPlayer);
          scheduled_time = parseInt(scheduled_time)+500;
          console.log("received play message from server, scheduled time: "+scheduled_time);
          if(GPS_TIME){
            window.navigator.geolocation.getCurrentPosition((time) => {
              time=parseInt(time.timestamp);
              console.log("GPS time: "+time);
              console.log("delta: "+(scheduled_time-time));
              setTimeout(()=>{soundPlayer.play();}, scheduled_time-time);
            });
          }else{
            time=parseInt(new Date().getTime());
            console.log("Clock time: "+time);
            console.log("delta: "+(scheduled_time-time));
            setTimeout(()=>{soundPlayer.play();}, scheduled_time-time);
          }
        }
     });
   });
</script>

<div class = 'sound-group-show-container' >
  <div>
    <label>Members:
      <br><br>
      <div class = 'subscribed-users'>
        <% @users.each do |user| %>
          <%= user.username %>
          <br><br>
        <% end %>
      </div>
    </label>
    <%= link_to "leave group", sound_groups_url %>
  </div>

  <div class = 'speaker-arrangement'>
    <% if current_user.id == @sound_group.leader.id %>
    <select name="tracklist">
      <% @tracks.each do |track| %>
        <option value="<%=track.id%>"><%=track.name%></option>
      <% end %>
    </select>
    <br>
    <% else  %>
      <h5>Sound Group Leader will determine the song. </h5>
    <% end %>
  </div>

  <div class = 'music player'>
    <br><br><br>
    <div>
      <%=  %>
    </div>

    <div>
    <!-- mp3-downloads/Toccata-and-Fugue-Dm.mp3 -->
    <div>
      <!-- This is just a testing tool; remove in final build -->
      <button onClick=
        "let soundPlayer = document.getElementById('sound-player');
        soundPlayer.play();"
        >Play sound on my Device</button>
        <button onClick=
        "let dummy = document.getElementById('dummy');
        dummy.play();
        dummy.src='http://www.mfiles.co.uk/mp3-downloads/prelude04.mp3';
        ">LOAD MUSIC!</button>
      <!-- This is the real button. Move it to leader-only in final build? -->
      <button onClick="if(GPS_TIME){
          window.navigator.geolocation.getCurrentPosition((time) =>
          { console.log('scheduled time output: '+time.timestamp);
            $.ajax({url: '<%=current_user.sound_group_id%>/play', data: {time: time}})});
        }
        else
        {
          let time=new Date().getTime();
          $.ajax({url: '<%=current_user.sound_group_id%>/play', data: {time: {timestamp: time}}});
        }"
        >Play sound on all linked Devices</button>
    </div>
    <br><br><br><br>


    <div>
      <form action="https://mobile-surround-dev.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="key" value="uploads/${filename}">
        <input type="hidden" name="AWSAccessKeyId" value="YOUR_AWS_ACCESS_KEY">
        <input type="hidden" name="acl" value="private">
        <input type="hidden" name="success_action_redirect" value="http://localhost/">
        <input type="hidden" name="policy" value="YOUR_POLICY_DOCUMENT_BASE64_ENCODED">
        <input type="hidden" name="signature" value="YOUR_CALCULATED_SIGNATURE">
        <input type="hidden" name="Content-Type" value="audio/">
        <!-- Include any additional input fields here -->

        File to upload to S3:
        <input name="file" type="file">
        <br>
        <input type="submit" value="Upload File to S3">
      </form>
    </div>

  </div>






</div>
