<!DOCTYPE html>
<html>
  <head>
    <title>MobileSurround</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <div class='nav'>
      <div class = 'logo'>
        <img class='logo-img' src='https://res.cloudinary.com/dt3tnq8um/image/upload/v1502472297/mobile_surround_logo_gkitds.png' />
      </div>
      <%= flash[:errors] %>
      <div class = 'nav-log'>
        <% if logged_in? %>
          <%= "Welcome, #{current_user.username}" %>
          <%= button_to "Sign Out", {session_url, :method => :delete},{class: 'sound-group-show-button'} %>
        <% else %>
          <%= button_to "Log In", new_session_url, :method => :get %>
          <%= button_to "Sign Up", new_user_url, :method => :get%>
        <% end %>
      </div>
    </div>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
