<!DOCTYPE html>
<html>
  <head>
    <title>MobileSurround</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <div class='nav'>
      <div class = 'logo'>
        <img class='logo-img' src='https://res.cloudinary.com/dt3tnq8um/image/upload/c_scale,h_75,w_300/v1502472297/mobile_surround_logo_gkitds.png' />
      </div>
      <div class = 'nav-log'>
        <% if logged_in? %>
          <%= button_to "Sign Out", session_url, {class: 'sound-group-show-button', form_class: "sound-group-show-button-form", :method => :delete} %>
          <br><br>
          <%= button_to "Return Home", sound_groups_url, {class: 'sound-group-show-button', form_class: "sound-group-show-button-form", :method => :get} %>
        <% else %>
          <%= button_to "Log In", new_session_url,{class: 'sound-group-show-button', form_class: 'sound-group-show-button-form', :method => :get} %>
          <%= button_to "Sign Up", new_user_url, { class: 'sound-group-show-button', form_class: 'sound-group-show-button-form', :method => :get} %>
        <% end %>
      </div>
    </div>
    <div class = 'white-space'>
    </div>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
